[submodule "ros2_ws/src/ouster-ros"]
	path = ros2_ws/src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
[submodule "sub_test"]
	path = sub_test
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
